{# 
	@see views-view-fields.html.twig for setup of variables
	and other markup and formatting.
#}
{% if fields.field_sub_title %}
	<div class="kicker font--secondary--m upper theme--secondary-text-color db">{{ fields.field_sub_title.content }}</div>
{% endif %}
<div class="media-block__inner spacing--quarter">
	{% for type, field in fields|without('field_sub_title') %}
		{% if type == 'title' %}
			<h3 class="media-block__title block__title theme--primary-text-color">{{ field.content }}</h3>
		{% elseif type == 'body' %}
			<div class="spacing--half">
				<div class="text text--s pad-half--btm">
					<div class="media-block__description block__description font--primary--xs">
						{{ field.content }}
					</div>
				</div>
			</div>
		{% else %}
			{% include '@alps/views/alps--views-view-field--output.html.twig' with {field: field, type: type, nid: row.nid} only %}
		{% endif %}
	{% endfor %}
</div> <!-- /.media-block__inner -->