{% set navigation_attributes = navigation_attributes.setClass('bg--tan aside-nav pad--secondary column__secondary can-be--dark-dark') %}
{% extends '@alps/block/alps--block--menu-basic.html.twig' %}

{% block menu_content %}
	<div class="spacing">{{ content }}</div>
{% endblock %}