<main class="main can-be--dark-dark" role="main">
		<style type="text/css">
			.header-swath--with-image {
				background-image: url(//placeimg.com/600/300/nature);
			}
			@media (min-width: 900px) {
				.header-swath--with-image {
					background-image: url(//placeimg.com/900/400/nature);
				}
			}
			@media (min-width: 1100px) {
				.header-swath--with-image {
					background-image: url(//placeimg.com/1400/500/nature);
				}
			}
		</style>
	<header class="header__swath theme--primary-background-color header-swath--with-image blend-mode--multiply">
		<div class="layout-container cf">
			<div class="flex-container cf">
				<div class="shift-left--fluid">
					<span class="kicker white">Maecenas</span>
					<h1 class="font--tertiary--xl white"><a class="link--white link-hover--white" href="">Lorem Ipsum</a></h1>
				</div>
				<div class="shift-right--fluid"></div> <!-- /.shift-right--fluid -->
			</div>
		</div>
	</header> <!-- /.header__swath -->
	<div class="layout-container full--until-large">
		<div class="flex-container cf ">
			<div class="shift-left--fluid column__primary bg--white can-be--dark-light">
				<div class="pad--primary spacing">
					<nav class="breadcrumbs" role="navigation">
						<ul class="breadcrumbs__list">
								<li class="breadcrumbs__list-item font--secondary--xs upper dib"><a href="" class="breadcrumbs__link can-be--white">Home</a></li>
								<li class="breadcrumbs__list-item font--secondary--xs upper dib"><a href="" class="breadcrumbs__link can-be--white">Vitality</a></li>
								<li class="breadcrumbs__list-item font--secondary--xs upper dib"><a href="" class="breadcrumbs__link can-be--white">Photos</a></li>
						</ul>
					</nav> <!-- /.breadcrumbs -->
					<div class="text article__body spacing">
						<p><a href="#">Aliquam erat volutpat.</a> Mauris vulputate scelerisque feugiat ras a erat a diam venenatis aliquam sed tempus, <strong>purus ac pretium</strong> varius, risus orci sagittis purus, quis auctor libero magna nec magna. Cum <a href="">sociis natoque penatibus et</a> magnis dis parturient montes, nascetur ridiculus mus.</p>


						<p>Maecenas eros dolor, <em>rutrum eu sollicitudin</em> eu, commodo at leo suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus maecenas eu urna adipiscing neque dictum mollis suscipit in augue.</p>

						<p>Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.</p>

						<p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

						<hr>

						<ol>
							<li>This is a top level <code>ol</code> item
								<ul>
									<li>This is a sub-level <code>ul</code> item</li>
									<li>This is a sub-level <code>ul</code> item</li>
								</ul>
							</li>
							<li>This is a top level <code>ol</code> item
								<ul>
									<li>This is a sub-level <code>ul</code> item</li>
									<li>This is a sub-level <code>ul</code> item</li>
								</ul>
							</li>
						</ol>

						<hr>

						<ul>
							<li>This is a top level <code>ul</code> item
								<ol>
									<li>This is a sub-level <code>ol</code> item</li>
									<li>This is a sub-level <code>ol</code> item</li>
								</ol>
							</li>
							<li>This is a top level <code>ul</code> item
								<ol>
									<li>This is a sub-level <code>ol</code> item</li>
									<li>This is a sub-level <code>ol</code> item</li>
								</ol>
							</li>
						</ul>

						<hr>

						<p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

	<figure class="figure size--large">
		<div class="img-wrap fitvid">
	<div class="fluid-width-video-wrapper" style="padding-top: 56.3333%;"><iframe src="https://player.vimeo.com/video/137487821?color=ffffff&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid699496"></iframe></div>
		</div> <!-- /.img-wrap -->
<figcaption class="figcaption"><p class="font--secondary--xs">Proin dictum lobortis luctus.</p></figcaption>
	</figure> <!-- /.figure -->

						<p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

						<p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

		<figure class="figure size--large">
			<div class="img-wrap">
		<img class="lazy" data-original="//placehold.it/800x500" itemprop="image" alt="Image Alt" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
		<noscript>&lt;img src="//placehold.it/800x500" alt="Image Alt"&gt;</noscript>

			</div> <!-- /.img-wrap -->
<figcaption class="figcaption"><p class="font--secondary--xs">Led do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p></figcaption>
		</figure> <!-- /.figure -->

						<p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

						<h2>Header Two</h2>

						<p>Sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.</p>

		<figure class="figure fitcenter">
			<div class="img-wrap">
		<img class="lazy" data-original="//placehold.it/800x400" itemprop="image" alt="Image Alt" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
		<noscript>&lt;img src="//placehold.it/800x400" alt="Image Alt"&gt;</noscript>

			</div> <!-- /.img-wrap -->
<figcaption class="figcaption"><p class="font--secondary--xs">Duis aute irure dolor in reprehenderit in voluptate velit esse.</p></figcaption>
		</figure> <!-- /.figure -->

						<p>Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. Integer quis pellentesque risus, non maximus mauris. Fusce eu ipsum faucibus, feugiat lorem in, mattis sapien. Curabitur sodales lacus eu mi aliquam convallis. Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

						<figure class="aligncenter">
							<iframe class="instagram-media instagram-media-rendered" id="instagram-embed-0" src="https://www.instagram.com/p/BBnp79zmXlN/embed/captioned/?cr=1&amp;v=6" allowtransparency="true" frameborder="0" height="780" data-instgrm-payload-id="instagram-media-payload-0" scrolling="no" style="background: rgb(255, 255, 255); border: 0px; margin: 1px; max-width: 658px; width: calc(100% - 2px); border-radius: 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 0px 1px 0px, rgba(0, 0, 0, 0.14902) 0px 1px 10px 0px; display: block; padding: 0px;"></iframe>
							<script async="" defer="" src="//platform.instagram.com/en_US/embeds.js"></script>
						</figure>

						<h3>Header Three</h3>

						<p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

						<figure class="fitcenter">
							<twitterwidget class="twitter-tweet twitter-tweet-rendered" id="twitter-widget-0" style="position: static; visibility: visible; display: block; transform: rotate(0deg); max-width: 100%; width: 500px; min-width: 220px; margin-top: 10px; margin-bottom: 10px;" data-tweet-id="719265776893575172"></twitterwidget>
							<script async="" src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
						</figure> <!-- /.aligncenter -->

						<p>In lacinia tortor eget elit gravida dapibus. Mauris eget magna sed libero hendrerit feugiat. Nullam suscipit malesuada nisl tristique euismod. In egestas ipsum in porttitor finibus.</p>

						<p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies.</p>

		<figure class="figure alignright size--medium">
			<div class="img-wrap">
		<img class="lazy" data-original="//placehold.it/400x300" itemprop="image" alt="Image Alt" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
		<noscript>&lt;img src="//placehold.it/400x300" alt="Image Alt"&gt;</noscript>

			</div> <!-- /.img-wrap -->
<figcaption class="figcaption"><p class="font--secondary--xs">Wllamco laboris nisi ut aliquip ex.</p></figcaption>
		</figure> <!-- /.figure -->


						<p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

						<h4>Header Four</h4>

						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>


						<p>Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. Integer quis pellentesque risus, non maximus mauris. Fusce eu ipsum faucibus, feugiat lorem in, mattis sapien. Curabitur sodales lacus eu mi aliquam convallis.</p>

						<h5>Header Five</h5>

						<p>Fusce ullamcorper condimentum condimentum proin eget vehicula lorem, at lacinia arcu. Aenean vulputate vitae lorem ac tempor. Etiam semper eros vitae vestibulum ultricies. Aenean pretium dui eget purus gravida, vitae fringilla diam ultricies. </p>

						<p>Nullam vel eleifend odio, non porttitor arcu. Aliquam erat volutpat. Cras et ultrices quam. Nulla facilisi. Nullam blandit, est eget molestie mattis, tellus augue consequat nisi, id tempor diam dolor in metus. Quisque id egestas nunc.</p>

		<figure class="figure alignleft size--medium">
			<div class="img-wrap">
		<img class="lazy" data-original="//placehold.it/400x400" itemprop="image" alt="Image Alt" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsQAAA7EAZUrDhsAAAANSURBVBhXYzh8+PB/AAffA0nNPuCLAAAAAElFTkSuQmCC">
		<noscript>&lt;img src="//placehold.it/400x400" alt="Image Alt"&gt;</noscript>

			</div> <!-- /.img-wrap -->
<figcaption class="figcaption"><p class="font--secondary--xs">Nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p></figcaption>
		</figure> <!-- /.figure -->

						<p>Maecenas eget diam nunc. Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non dui. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

						<p>Aenean sodales tortor et porta convallis. Donec dignissim sed risus egestas pharetra. Sed leo nulla, posuere quis ultrices et, pharetra in neque. Aliquam odio quam, suscipit eu dapibus sed, bibendum ac sapien.</p>

						<h6>Header Six</h6>

						<p>In lacinia tortor eget elit gravida dapibus. Mauris eget magna sed libero hendrerit feugiat. Nullam suscipit malesuada nisl tristique euismod. In egestas ipsum in porttitor finibus.</p>

	<div class="text">
		<ul>
		<li>This is a list item in an unordered list</li>
		<li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
		<li>
			Lists can be nested inside of each other
			<ul>
				<li>This is a nested list item</li>
				<li>This is another nested list item in an unordered list</li>
			</ul>
		</li>
		<li>This is the last list item</li>
	</ul>
	</div>

						<p>Vestibulum a felis tincidunt, elementum risus ac, porttitor dolor. Maecenas et blandit quam. Duis gravida sem id augue laoreet fringilla nec eu ante. Cras at fringilla ipsum. Donec nec libero eget est blandit dignissim a eu ante. Morbi augue nulla, luctus eu sagittis vel, malesuada ut felis. Aliquam erat volutpat morbi malesuada augue ac massa hendrerit fermentum integer scelerisque lacus a dolor convallis lobortis. Curabitur mollis ante in massa ultricies dignissim.</p>

						<p>Reiciendis, suscipit repellendus nulla accusantium deserunt sed explicabo voluptate sapiente ratione inventore molestiae nihil earum repellat quia odit vitae perspiciatis aliquam amet?</p>

							<figure class="alignleft size--large">
			<blockquote class="pullquote">
				<p>Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</p><br>
				<cite class="citation">— Alvin Brodus</cite>
			</blockquote> <!-- /.pullquote -->
							</figure>  <!-- /.alignleft -->

						<p>Ut mollis massa id magna vestibulum consequat. Proin rutrum lectus justo, sit amet tincidunt est. Vivamus vitae lacinia risus.</p>

						<p>In hac habitasse platea dictumst. Maecenas vitae turpis pretium, accumsan neque non, pretium dui. Phasellus volutpat tortor vitae lacinia elementum. Fusce fringilla lectus vel risus feugiat semper.</p>

						<p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

						<p>Consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, <a href="">convallis et arcu</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis dui. Vivamus egestas faucibus pulvinar.</p>

							<figure class="aligncenter">
			<blockquote class="pullquote">
				<p>Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</p><br>
				<cite class="citation">— Alvin Brodus</cite>
			</blockquote> <!-- /.pullquote -->
							</figure>  <!-- /.aligncenter -->

						<p>Maecenas eros dolor, <em>rutrum eu sollicitudin</em> eu, commodo at leo. Suspendisse potenti. Sed eu nibh sit amet quam auctor feugiat vel et risus. Maecenas eu urna adipiscing neque dictum mollis suscipit in augue.</p>

						<p>Praesent pulvinar condimentum sagittis. Maecenas laoreet neque non eros consectetur fringilla. Donec vitae risus leo, vitae pharetra ipsum. Sed placerat eros eget elit iaculis semper. Aliquam congue blandit orci ac pretium.</p>

	<div class="text">
		<ol>
		<li>This is a list item in an ordered list</li>
		<li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
		<li>
			Lists can be nested inside of each other
			<ol>
				<li>This is a nested list item</li>
				<li>This is another nested list item in an ordered list</li>
			</ol>
		</li>
		<li>This is the last list item</li>
	</ol>

	</div>

						<p>Consectetur tincidunt leo tristique et. Vivamus enim nisi, blandit a venenatis quis, <a href="">convallis et arcu</a>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris libero sapien, placerat in sodales eu, tempor quis duiecenas eget diam nunc.</p>

						<p>Phasellus at sem eros, ac suscipit neque. Phasellus sollicitudin libero a odio dignissim scelerisque. Aliquam purus nulla, tempor eget ullamcorper quis, rhoncus non.</p>
					</div>
				</div>

			</div> <!-- /.shift-left--fluid -->
			<div class="shift-right--fluid bg--beige can-be--dark-dark">
					<div class="media-block block spacing--quarter bg--tan can-be--dark-dark block--breakout pad--secondary--for-breakouts">

							<h2 class="font--tertiary--m theme--primary-text-color pad--btm"><div class="icon icon--s"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.22 99.29"><title>List Icon</title><path d="M34.68,54.8H65.57V44.87H34.68V54.8ZM77.58,0.36H22.42a11.06,11.06,0,0,0-11,11V88.61a11.06,11.06,0,0,0,11,11H77.58a11.06,11.06,0,0,0,11-11V11.39A11.06,11.06,0,0,0,77.58.36Zm0,88.26H22.42V11.39H77.58V88.61ZM65.44,23.35H34.56V33H65.44V23.35Zm0,43.3H34.56v9.65H65.44V66.66Z" transform="translate(-11.39 -0.36)" fill="#010101" class="theme--primary-fill-color"></path></svg></div>  Nulla facilisi</h2>


						<div class="media-block__inner spacing--quarter ">


							<div class="media-block__content block__content ">



								<div class="spacing--half">
										<div class="text text--s pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">Fusce porta sed odio eu dignissim. Vivamus imperdiet libero mattis orci aliquam imperdiet. Vivamus sit amet tortor nec magna tincidunt faucibus sit amet ac sem. Maecenas mattis nibh at urna feugiat posuere. Pellentesque blandit condimentum eros, fermentum ornare diam facilisis eget.</span></p></div>

										<p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="">Vestibulum non lectus</a></p>
								</div> <!-- /.spacing -->

							</div> <!-- media-block__content -->
						</div> <!-- /.media-block__inner -->

					</div> <!-- /.media-block -->
				<div class="column__secondary can-be--dark-dark">
					<aside class="aside spacing--double">
						<div class="pad--secondary spacing--double">

								<h3 class="font--tertiary--m theme--secondary-text-color">News</h3>
			<div class="media-block block spacing--quarter ">



				<div class="media-block__inner spacing--quarter block__row--small-to-large">
						<a class="media-block__image-wrap block__image-wrap db" href="">
							<div class=" dib"><img class="media-block__image block__image" src="//placehold.it/500x400" alt="Media Block Image Alt"></div>
						</a> <!-- /.media-block__image-wrap -->


					<div class="media-block__content block__content ">

							<h3 class="media-block__title block__title font--secondary--m"><a href="" class="block__title-link theme--primary-text-color">Proin venenatis maximus</a></h3>

							<time class="block__date font--secondary--xs brown space-half--btm" datetime="2016-12-12">Mar 28, 2016</time>

						<div class="spacing--half">
								<div class="text text--s pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</span></p></div>

								<p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="">Donec volutpat libero</a></p>
						</div> <!-- /.spacing -->

					</div> <!-- media-block__content -->
				</div> <!-- /.media-block__inner -->

			</div> <!-- /.media-block -->
			<div class="media-block block spacing--quarter ">



				<div class="media-block__inner spacing--quarter block__row--small-to-large">
						<a class="media-block__image-wrap block__image-wrap db" href="">
							<div class=" dib"><img class="media-block__image block__image" src="//placehold.it/500x400" alt="Media Block Image Alt"></div>
						</a> <!-- /.media-block__image-wrap -->


					<div class="media-block__content block__content ">

							<h3 class="media-block__title block__title font--secondary--m"><a href="" class="block__title-link theme--primary-text-color">Proin venenatis maximus</a></h3>

							<time class="block__date font--secondary--xs brown space-half--btm" datetime="2016-12-12">Mar 28, 2016</time>

						<div class="spacing--half">
								<div class="text text--s pad-half--btm"><p class="media-block__description block__description"><span class="font--primary--xs">Mauris sit amet augue gravida, dignissim sem maximus, aliquam metus. Maecenas eu consectetur orci, id auctor dui.</span></p></div>

								<p><a class="media-block__cta block__cta btn theme--secondary-background-color" href="">Donec volutpat libero</a></p>
						</div> <!-- /.spacing -->

					</div> <!-- media-block__content -->
				</div> <!-- /.media-block__inner -->

			</div> <!-- /.media-block -->

							<div class="spacing">
								<h3 class="font--tertiary--m theme--secondary-text-color">More News</h3>
									<div class="content__block">
										<h3 class="theme--primary-text-color font--secondary--m">Nam efficitur</h3>
										<p>Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet.  <a href="" class="font--secondary--s upper theme--secondary-text-color"><strong>Vivamus orci magna</strong></a> </p>
									</div>
									<hr>
									<div class="content__block">
										<h3 class="theme--primary-text-color font--secondary--m">Donec interdum</h3>
										<p>Proin dictum lobortis luctus. Sed sagittis massa id blandit aliquet.  <a href="" class="font--secondary--s upper theme--secondary-text-color"><strong>Donec volutpat libero</strong></a> </p>
									</div>
									<hr>
							</div>
						</div>
					</aside>
				</div>
			</div> <!-- /.shift-right--fluid -->
		</div> <!-- /.flex-container -->
	</div> <!-- /.layout-container -->
</main>